{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'messaging/css/dashboard.css' %}">
{% endblock %}
        
{% block page_content %}

    <!-- SideBar Start -->
    <div id="sidebar">
        <div id="user-section" class="custom-sidebar-cards rounded-pill" style="background: #ffde7a!important;">
            <div id="user-name" class="d-flex justify-content-center">
                <!-- Fill username here through Javascript -->
            </div>
            <hr class="rounded-pill" style="margin: 0px;">
            <div class="d-flex justify-content-around">
                <div id="search-btn" class="btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="background: #ffde7a;">
                        <button id="update-profile" class="dropdown-item" type="button">Update Profile</button>
                        <button id="logout" class="dropdown-item" type="button">Logout</button>
                    </div>
                </div>    
            </div>
        </div>

        <div class="custom-sidebar-cards rounded-pill"></div>

        <!-- User Chats Start-->
        <div id="fill-user-chats">

            <!-- This first card is an Exmple Card -->
            <!-- This is used to clone other cards -->
            <div id="user-chat-block" class="custom-sidebar-cards rounded-pill" style="display: none;">
                <div id="friend-name" class="d-flex justify-content-center">
                        <!-- Add Friend Name -->
                </div>
                <hr class="rounded-pill" style="margin: 0px;">
                <div id="friend-total-messages" class="d-flex justify-content-center">
                        <!-- Add Number of Total Messages -->
                </div>
            </div>
            <!-- Exmple Card END-->

        </div>
        <!-- User Chats End-->
    </div>
    <!-- Sidebar End -->

    <!-- Rough Space Start-->
    <div class="workspace" id="rough-space">
        <div style="margin-top: 120px; margin-left: 56px;">
            <h4 class="ml-4">EnTalk</h4>
            <ul>
                <li>Your Privacy is our Priority</li>
                <li>EnTalk provides an Encrypted way to Chat</li>
                <li>EnTalk Supports End-To-End Encryption</li>
                <li>Start by searching friends using their Usernames</li>
            </ul>
        </div>
    </div>
    <!-- Rough Space END-->

    <!-- Chat Space Start-->
    <div class="workspace" id="chat-space" style="display: none; background: #3f9c64;">
        <div class="fixed-navbar">
            <div class="d-flex justify-content-between p-3" style="background: #cee3e6;">
                <div id="friend-username"></div>
                <div id="total-messages"></div>
            </div>
        </div>
        <div id="show-conversation"></div>
        <div class="fix-at-bottom-message-bar">
            <div class="mx-3 form-group row">
                <div class="col-sm-11 bg-white rounded">
                    <input type="text" class="form-control-plaintext" id="send-message-input" placeholder="Type Your Message Here">
                </div>
                <div class="col btn btn-sm btn-primary rounded-pill ml-2" id="send-message-button">
                    Send
                </div>
            </div>
        </div>
    </div>
    <!-- Chat Space END-->

    <!-- Search Space Start-->
    <div class="workspace" id="search-space" style="display: none;">
        <div class="m-3 form-group row">
            <div class="col-sm-4 bg-white rounded">
                <input type="text" class="form-control-plaintext" id="search-friend-input" placeholder="Search By Username">
            </div>
            <div class="col-sm-1 btn btn-sm btn-primary rounded-pill mx-2" id="search-friend-button">
                Search
            </div>
        </div>
        <div id="search-friend-results" class="m-3"></div>
    </div>
    <!-- Search Space End-->

    
    <!-- Profile Update Space Start-->
    <div class="workspace" id="profile-update-space" style="display: none;">
        <h5 class="m-3 d-flex justify-content-center">Update Profile</h5>
        <div id="update-profile-form-div" class="m-3">
            <div class="form-group row">
                <label for="register-username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="register-username" placeholder="username" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="register-email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="register-email" placeholder="Email" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="register-password" class="col-sm-2 col-form-label">Current Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="register-password" placeholder="Current Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="new-password" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="new-password" placeholder="New Password">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="register-firstname">First Name</label>
                    <input type="text" class="form-control" id="register-firstname" placeholder="First Name">
                </div>
                <div class="form-group col-md-4">
                    <label for="register-surname">SurName</label>
                    <input type="text" class="form-control" id="register-surname" placeholder="SurName">
                </div>
            </div>
            <div class="btn btn-primary btn-md" id="register-submit">
                Update
            </div>
        </div>
    </div>
    <!-- Profile Update Space End-->

{% endblock %}
    

{% block extra_js %}
    <script type="text/javascript" src="{% static 'messaging/js/dashboard.js' %}"></script>
{% endblock %}